
body {
  background-color: lightBlue;
  font-family: sans-serif;
}

#default-categories {
  float: left;
  max-width: 50%;
}

#default-inner-holder {
}

#target-categories {
  float: right;
  max-width: 50%;
}

.parent {
  float: left;
  background-color: #EEE;
  margin: 10px;
}

.sub-holder {
  clear: left;
}

.sub {
  overflow: auto;
  clear: left;
  margin: 5px;
}

.category {
  padding: 5px;
}

.mapping {
  display: inline;
  margin: 4px;
  background-color: #FFFFAA; 
}

.sub.category.default {
  background-color: #FFAAAA;
}

.sub.category.default.mapped {
  background-color: lightGreen;
}

.category.target {
  width: 90%;
}

.category.glurk {
  float: right;
  padding: 2px;
  margin: 5px;
  background-color: lightYellow;
}

.sub.category.glurk {
  background-color: lightGreen;
}
